[submodule "deps/httplib"]
	path = deps/httplib
	url = https://github.com/yhirose/cpp-httplib.git
	branch = master
[submodule "deps/nlohmann_json"]
	path = deps/nlohmann_json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "deps/phmap"]
	path = deps/phmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
	branch = master